@import url('https://fonts.googleapis.com/css?family=Archivo:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700&display=swap');

*{
    margin: 0 0;
    line-height: 1.5;
}

html,
body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}


*,
*::before,
*::after{
    box-sizing: border-box;
}

img, svg{
    display: block;
    max-width: 100%;
}

main{
    display: grid;
    grid-template: 1fr 1fr/1fr 4fr;
    min-height: 100%;
    background-color: #000000;
}

.flex-flow{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sidebar{
    padding: 1.25em 1.5em 0 1.5em;
    grid-column: 1/2;
    grid-row: 1/2;
    position: fixed;
    font-weight: 400;
}


.my-lists{
    grid-column: 1/2;
    grid-row: 2/-1;
    position: fixed;
}

.website-title{
    font-size: 2.4rem;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-weight: 900;
    color: #F33F3F;
}

.flex-group{
    border-radius: 0.2rem; 
    padding: 0.5em 0.75em;
    display: flex;
    align-items: center;
    gap: 0.8em;
    color: #E1E1E1;
    font-size: 0.875rem;
    transition: all 250ms;
}

.grey-border{
    border: 1px solid rgba(217, 217, 217, 0.3);
    margin: 0.5em 0 1em 0;
}

.grey-border-top{
    border-top: 1px solid rgba(217, 217, 217, 0.3);
    height: 100%;
    display: flex;
}

.flex-group input{
    width: 100%;
    background-color: rgba(217, 217, 217, 0);
    border: none;
    outline: none;
    color: rgba(217, 217, 217, 0.5);
}

.grey-hover:hover{
    background-color: #1F1F1F;
    cursor: pointer;
}

.grey-border:hover,
.grey-border:focus{
    border-color: rgba(217, 217, 217, 0.3);
    background-color: rgba(0, 0, 0, 0.8);;
}

#create-watchlist-btn{
    background-color: #F33F3F;
    padding: 0.5em 0.75em;
    margin: 0.5em 0;
    border: none;
    border-radius: 0.2rem;
    font-size: 0.875rem;
    color: #141414;
    transition: all 250ms;
}

.flex-group:hover,
.flex-group:focus,
.btn:hover,
.btn:focus
{
    transform: translate(1.5px ,-1.5px);
    cursor: pointer;
    filter: brightness(1.1); /* Increase brightness on hover */

}

.grey-title{
    align-self: flex-end;
    color:#9A9A9A;
}


.main-area{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.25em 3em;
    grid-column: 2/-1;
    grid-row: 1/-1;
}


.main-title{
    color: #E1E1E1;
    font-size: 2rem;
    text-align: left;
    font-weight: 400;
}

.movies{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    column-gap: 2em;
    row-gap: 3em;
}

.movie-object{
    border-radius: 1em;
    padding: 1em 1em;
    background-color: rgba(1, 1, 1, 0.1);
    box-shadow: inset 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);

    
    
    position: relative;
    display: flex;
    gap: 0.4em;
    flex-direction: column;
    justify-content: space-around;

}

.ribbon{
    position: absolute;
    top: 3px;
    left: 3px;
    color: #FFFFFF;
    transition: all 350ms ease;
}

.ribbon:hover,
.ribbon:focus{
    cursor: pointer;
    transform: scale(1.125);
}

.poster{
    width: 100%;
    height: auto;

}

.movie-ratings{
    display: flex;
    justify-content: flex-end;
    color: #E1E1E1;
    font-size: 0.75rem;
}

.score{
    font-size: 1rem;
}

.movie-title,.movie-year{
    color: #E1E1E1;
    font-size: 1rem;
}

.movie-year{
    font-weight: 100;
}







