@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0px;
    padding:0px;
    user-select: none;
}

html, body, main{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #1B1924;
    color: #bcbcbc;
    user-select: none;
  }

.login,.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1B1924;
    max-width: 340px;
    margin: 20px auto;

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 1em;
    padding: 20px;
    margin-bottom: 0;
}

.logo img{
    max-width: 80%;
}

.login-form-section,.register-form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

label,input{
    text-align: center;
    border:none;
    outline: none;
}

label{
    font-size: 26px;
}

input{
    line-height: 27px;
    font-size: 22px;
}

input, .login-btn, .register-btn{
    border-radius: 4px;
}

.register-btn,.login-btn{
    margin: 5px 0;
    font-size: 22px;
    border: 1px solid #f0f0f0;
    background-color: maroon;
    color: #f0f0f0;
    padding: 2px;
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
    letter-spacing: -0.7px;
}
.page-link{
    text-decoration: none;
    color: maroon;
    background-color: #f0f0f0;
    padding: 4px;
    border-radius: 3px;
}
.link-section{
    align-items: first baseline;
    display: flex;
    flex-grow: 1;
    gap: 7px;
}

.chat-app {
    display: flex;
    flex-direction: column;
    background-color: #1B1924;
    width: 100%; /* set width to 100% */
    margin: 0; /* remove margin */
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


header{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 15px;
    padding: 30px 10px;
    background: #20283d;
}

.group-title{
    line-height: 20px;
    font-size: 20px;
}

i{
    line-height: 20px;
}

i:hover{
    cursor: pointer;
}

#back-btn{
    padding-left: 20px;
}

.chat-area{
    padding-top: 80px;
    padding-bottom: 120px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.self-message{
    display: flex;
    justify-content: flex-end;
}

.other-message{
    display: flex;
    flex-direction: row-reverse;
}

.chat-bubble{
    user-select: auto;
    max-width: 260px;
    border-radius: 12px;
    padding: 10px;
    background-color: #ada1a154;
}

.self-message .chat-bubble{
    margin-right: 20px;
    text-align: left;
}

.other-message .chat-bubble{
    margin-left: 20px;
}

.user-name{
    font-size: 20px;
}

.user-color{
    width: 50px;
    height: 50px;
    flex-shrink: 0; /* Prevent shrinking */
    border-radius: 50%;
    border: 2px solid black;
    background-color: black;
    box-sizing: border-box;
}

.input-area {
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #20283d;

}

.input-area input {
    width: 100%;
    padding-left: 20px;
    text-align: left;
    height: 70px;
    user-select: none;
    color: #1B1924;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 0px;
}

.fa-paper-plane{
    justify-self: center;
    padding: 0 30px;
    background: #20283d;
    line-height: 70px;
    border: none;
}

.groups-header{
    padding: 20px 10px;
    flex-direction: column;
}

.default-box{
    display: flex;
    justify-content: space-between;
}

.group-heading{
    font-size: 20px;
    line-height: 40px;
    padding-left: 30px;
}

.icons{
    display: flex;
    padding-right: 30px;
    gap: 20px;
}


#display-join-group,#display-create-group,#logout-btn{
    line-height: 40px;
}


.create-group-box{
    display: flex;
    padding: 20px 40px;
    background-color:#ada1a154 ;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    margin: 0px 30px 25px 30px;
}

.create-group-box > div{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#group-name-input{
    width: 170px
}


.join-group-box{
    padding: 20px 40px;
    background-color:#ada1a154 ;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    margin: 0px 30px 25px 30px;
}

.join-group-box > div{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#group-id-input{
    width: 120px
}

#create-group-btn,#join-group-btn{
    margin-left: 8px;
    font-size: 22px;
    border: none;
    color: #f0f0f0;
    padding: 2px 4px;
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
    letter-spacing: -0.7px;
    border-radius: 4px;
}

#create-group-btn{
    background-color: forestgreen;
}

#join-group-btn{
    background-color: orangered;
}


.js-is-flex{
    display: flex;
}

.js-is-hidden{
    display: none;
}

.alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
}
  
.alert-message {
    padding: 16px 24px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  

.groups-display-area{
    width: 100vw;
    display: flex;
    flex-direction: column;
}


.group-container{
    display: flex;
    padding: 14px 30px 14px 40px;
    box-shadow: 0 7px 4px rgba(0, 0, 0, 0.1);
}


.group-logo{
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    flex-shrink: 0; /* Prevent shrinking */
}

.group-data {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.group-name{
    font-size: large;
    flex-grow: 0;
}

.group-recent{
    font-size: small;
    display: flex;
    gap: 4px;
    flex-grow: 0;
}

.group-last-msg{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}